#################
## Eclipse
#################

.project
.metadata
.gradle/
bin/
target/
build/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
/.settings/
**/.settings/*
# Include JDT preference files for use by ECJ compiler (null analysis):
!org.eclipse.jdt.core.prefs
.loadpath
.flattened-pom.xml

# Locally stored "Eclipse launch configurations"
*.launch

#############
## IntelliJ
#############

.idea/
*.iml
*.ipr
*.iws
.vscode/

############
## OS
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

############
## Gradle
############

!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties.bak

# Gradle lock files
*.lock
*.lockfile
gradle.lockfile
dependency-lock.json
gradle/dependency-lock.json

############
## Build outputs
############

*.class
*.jar
*.war
*.ear
*.log
out/

# Gradle build artifacts
*.reobf.jar
*-paper.jar
*-all.jar
*-shadow.jar
dist/
libs/

############
## Test outputs
############

test-results/
test-reports/

############
## Project specific
############

**/logs
jabba
repo/
